<footer>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/assets/js/main.js"></script>
  <!-- Data provided by https://my-personal-api.herokuapp.com/ -->
  <span id='json_url' href='https://my-personal-api.herokuapp.com/data/15713726/'></span>
      <span id='time_info' class='invisible'>
        Bastian's local time is <i class="far fa-clock"></i> <span id='local_time'></span> (<span id='time_zone'></span>).
      </span>
      <span id='location_info' class='invisible'>
        He is currently in <span id='location_name'></span> <img id='flag' class='flag' src=''/> <span id='weather' class='invisible'><br/>There the condition is
          <i><i id='condition_icon'></i> <span id='weather_condition'></span></i> and it's <span id='weather_temperature'></span>˚C.</span><br/>
      </span>
      <span id='home_info' class='invisible'>
        This is close to <i class="fas fa-home"></i>, where it's currently <i id='volume' class='fas fa-volume-mute'></i> <span id='volume_text'></span>, with <i class="fas fa-tree"></i> <span id='cotwo'></span> ppm of CO<sub>2</sub> in the air.
        <br/><span id='extra_break'></span>
      </span>
      <span id='activity_info' class='invisible'>
        His <i class="fas fa-thermometer-half"></i> body temperature today is <span id='body_temperature'></span> ˚C <span id='temp_qualifier'></span> than average and
        he took <i class="fas fa-shoe-prints"></i> <span id='steps'></span> steps today.

        He slept <i class="fas fa-bed"></i> <span id='sleep'></span> hours.
      </span>
      <span id='phone_info' class='invisible'>
        His phone is <i id='battery_icon'></i> <span id='battery_level'></span>% charged and is currently <span id='battery_state'></span>.<br/><br/>
      </span>
      <span id='music_info' class='invisible'>
        He recently listened to <i class="fas fa-music"></i> <i><span id='title'></span></i>
        by <span id='artist'></span>.<br/><br/>
      </span>


    {{ site.name }} <a href="https://creativecommons.org/publicdomain/zero/1.0/">⓪</a> {{ site.time | date: '%Y' }} <a href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
    </br><a href="http://koppl.in/indigo">Theme</a> by <a href="http://koppl.in">koppl.in</a>. Photo by <a href="https://twitter.com/eugecovernton">Eugenia Covernton.</a>
</footer>
