<footer>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/weather-icons.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/weather-icons-wind.css">
  <script src="https://kit.fontawesome.com/fbcc0d0061.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/assets/js/main.js"></script>
  <!-- Data provided by https://my-personal-api.herokuapp.com/ -->
  <span id='json_url' href='https://myapi.gedanken.uber.space/data/15713726/'></span>
      <span id='time_info' class='invisible'>
        Bastian's local time is <i class="far fa-clock"></i> <span id='local_time'></span> (<span id='time_zone'></span>).
      </span>
      <span id='location_info' class='invisible'>
        He is currently in <span id='location_name'></span> <img id='flag' alt='flag of the country' class='flag' src=''/> <span id='weather' class='invisible'><br/>There the condition is
          <i><i id='condition_icon'></i> <span id='weather_condition'></span></i> and it's <span id='weather_temperature'></span>˚C.</span><br/>
      </span>
      <span id='home_info' class='invisible'>
        This is close to <i class="fas fa-home"></i>, where it's currently <i id='volume' class='fas fa-volume-mute'></i> <span id='volume_text'></span>, with <i class="fas fa-tree"></i> <span id='cotwo'></span> ppm of CO<sub>2</sub> in the air.
        <br/><span id='extra_break'></span>
      </span>
      <span id='activity_info' class='invisible'>
        Last night, he slept <i class="fas fa-bed"></i> <span id='sleep'></span> hours, with a measured wrist temperature of <i class="fas fa-thermometer-half"></i> <span id='body_temperature'></span> ˚C. 
        
        Today, he took <i class="fas fa-shoe-prints"></i> <span id='steps'></span> steps and spent <i class="fa-solid fa-sun"></i> <span id='daylight'></span> minutes in daylight so far. His last resting heart rate was <i class="fas fa-heartbeat"></i> <span id='rhr'></span> bpm and the environmental noise level around him is <i id='volume' class='fas fa-volume-down'></i> <span id='environment_noise'></span>dB.
      </span>
      <br/><br/>
      <span id='phone_info' class='invisible'>
        His phone is <i id='battery_icon'></i> <span id='battery_level'></span>% charged and is currently <span id='battery_state'></span>.
      </span>
      <span id='music_info' class='invisible'>
        He recently listened to <i class="fas fa-music"></i> <i><span id='title'></span></i>
        by <span id='artist'></span>. Book<em>(wyrm)</em>-wise <i class="fa-solid fa-book"></i>, he recently <span id='bookwyrm_update'></span><br/><br/>
      </span>


    {{ site.name }} <a href="https://creativecommons.org/publicdomain/zero/1.0/">⓪</a> {{ site.time | date: '%Y' }} <a href="{{ site.url }}/feed.xml" title='link to rss feed' target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
    <br/><a href="http://koppl.in/indigo">Theme</a> by <a href="http://koppl.in">koppl.in</a>. Photo by <a href="https://www.ecovernton.info/">Eugenia Covernton.</a>
</footer>
