<footer>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/weather-icons.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/weather-icons-wind.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  <script src="/assets/js/main.js"></script>
  <span id='json_url' href='https://my-personal-api.herokuapp.com/data/15713726/'></span>
      <span id='time_info' class='invisible'>
        Bastian's local time is <i class="far fa-clock"></i> <span id='local_time'></span> (<span id='time_zone'></span>).
      </span>
      <span id='location_info' class='invisible'>
        He is currently in <span id='location_name'></span> <span id='weather' class='invisible'><br/>There it is
          <i><i id='condition_icon'></i> <span id='weather_condition'></span></i> and <span id='weather_temperature'></span>˚C.</span><br/><br/>
      </span>
      <span id='activity_info' class='invisible'>
        His current heart rate is <i class="fas fa-heartbeat"></i> <span id='heart_rate'></span> bpm and
        he took <i class="fas fa-shoe-prints"></i> <span id='steps'></span> steps today.

        He slept <i class="fas fa-bed"></i> <span id='sleep'></span> hours.
        His phone is <i id='battery_icon'></i> <span id='battery_level'></span>% charged and is currently <span id='battery_state'></span>.<br/><br/>
      </span>
      <span id='music_info' class='invisible'>
        He recently danced to <i class="fas fa-music"></i> <i><span id='title'></span></i>
        by <span id='artist'></span>.<br/><br/>
      </span>

    {{ site.name }} <a href="https://creativecommons.org/publicdomain/zero/1.0/">⓪</a> {{ site.time | date: '%Y' }} <a href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
    </br><a href="http://koppl.in/indigo">Theme</a> by <a href="http://koppl.in">koppl.in</a>. Photo by <a href="http://www.twitter.com/lobot">Lore Frost.</a>
</footer>
