{% if page.title == "Home" or page.title == "Blog" or page.title == "Projects" or page.title == "Photography" %}{% assign x = true %}{% endif %}

{% if x == true %}
    <header class="home__header">

        <img alt="{{ site.name }}" src="{{ site.url }}/{{ site.picture }}" />

        <h1>{{ site.name }}</h1>
        {% if page.title == "Photography" %}
        <h2>{{ site.photo_bio }}</h2>
        {% else %}
        <h2>{{ site.bio }}</h2>
        {% endif %}
        <div class="home__header-social">

        </div>
    </header>
{% endif %}

{% include nav.html %}
