{% if page.title == "Home" or page.title == "Blog" or page.title == "Projects" or page.title == "Photography" %}{% assign x = true %}{% endif %}

{% if x == true %}
    <header class="home__header">

        <img alt="{{ site.name }}" src="{{ site.url }}/{{ site.picture }}" />

        <h1>{{ site.name }}</h1>
        {% if page.title == "Photography" %}
        <h2>{{ site.photo_bio }}</h2>
        {% else %}
        <h2>{{ site.bio }}</h2>
        {% endif %}
        <div class="home__header-social">
            <a href="{{ site.mastodon }}" target="_blank" title="Link to Mastodon" rel="me"><svg class="icon icon-mastodon"><use xlink:href="#icon-mastodon"></use></svg></a>


    	    <a href="{{site.codeberg}}" target="_blank" title='Link to Codeberg'><svg class="icon icon-codeberg"><use xlink:href="#icon-codeberg"></use></svg></a>

            <a href="https://github.com/{{ site.github }}" title="Link to Github" target="_blank"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>
                        <a href="http://flickr.com/photos/{{ site.flickr }}" title="Link to Flickr" target="_blank"><svg class="icon icon-flickr">
                                <use xlink:href="#icon-flickr"></use>
                            </svg></a>
            <a href="http://instagram.com/{{ site.instagram }}" title="Link to Instagram" target="_blank"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a>
          <!--  <a href="http://facebook.com/{{ site.facebook }}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a>-->
            <a href="{{ site.kofi }}" title="Link to Ko-Fi" target="_blank"><svg class="icon icon-ko-fi">
                    <use xlink:href="#icon-ko-fi"></use>
                </svg></a>

        <a href="{{ site.bookwyrm }}" title="Link to bookwyrm" target="_blank"><svg class="icon icon-bookwyrm">
                <use xlink:href="#icon-bookwyrm"></use>
            </svg></a>
          <a href="http://orcid.org/{{ site.orcid }}" title="Link to ORCID" target="_blank"><svg class="icon icon-orcid"><use xlink:href="#icon-orcid"></use></svg></a>
          <a href="https://scholar.google.de/citations?user={{ site.scholar }}" title="Link to Google Scholar" target="_blank"><svg class="icon icon-scholar"><use xlink:href="#icon-scholar"></use></svg></a>
        <a href="https://keybase.io/{{ site.keybase }}" target="_blank" title="Link to keybase"><svg class="icon icon-keybase">
                <use xlink:href="#icon-keybase"></use>
            </svg></a>
            <a href="mailto:{{ site.email }}" title="Link to email" target="_blank"><svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg></a>
        </div>
    </header>
{% endif %}

{% include nav.html %}
