<script type="application/ld+json"> 
{"@context":"https://schema.org",
"@type":"WebSite",
"author":{"@type":"Person",
    "@id":"https://tzovar.as/about"
    },
"description":"Bastian Greshake Tzovaras is a researcher with a background in biology and citizen science and an open science activist. He works as a senior researcher at The Alan Turing Institute. In 2011, he founded openSNP. He was awarded a PhD in Bioinformatics in 2018. In 2017 he joined the Open Humans Foundation as the Director of Research.",
"headline":"Bastian Greshake Tzovaras' home",
"name":"Bastian Greshake Tzovaras",
"publisher":{
    "@type":"Person",
    "@id": "https://tzovar.as/about"
    }}
</script>