<script type="application/ld+json">
    {
    "@context": "http://www.schema.org",
    "@type": "Person",
    "@id": "https://tzovar.as/about",
    "name": "Bastian Greshake Tzovaras",
    "alternateName": "Bastian Greshake",
    "affiliation": [
        {
            "@type": "Organization",
            "name": "The Alan Turing Institute",
            "sameAs": [
                "https://www.turing.ac.uk/"
            ]
          }
    ],
    "alumniOf": [
        {
         "@type": "CollegeOrUniversity",
         "name": "Goethe University Frankfurt",
         "sameAs": "https://en.wikipedia.org/wiki/Goethe_University_Frankfurt"
        },
        {
         "@type": "CollegeOrUniversity",
         "name": "University of Münster",
         "sameAs": "https://en.wikipedia.org/wiki/University_of_M%C3%BCnster"
        }
    ],
    "Description": "{{site.description}}",
    "disambiguatingDescription": "Senior Researcher working in Citizen Science",
    "jobTitle": "Senior Researcher",
    "worksFor": [
        {
            "@type": "Organization",
            "name": "The Alan Turing Institute",
            "sameAs": [
                "https://www.turing.ac.uk/"
            ]
        }
    ],
    "url": "https://tzovar.as/",
    "image": "{{ site.picture | absolute_url }}",
    "sameAs": [
        "https://scholar.social/@gedankenstuecke",
        "https://github.com/gedankenstuecke",
        "https://flickr.com/photos/gedankenstuecke",
        "https://orcid.org/0000-0002-9925-9623",
        "https://www.instagram.com/gedankenstuecke/",
        "https://pixelfed.de/gedankenstuecke",
        "https://www.linkedin.com/in/bastian-greshake-tzovaras-11194840/",
        "https://ko-fi.com/gedankenstuecke/",
        "https://bookwyrm.social/user/gedankenstuecke",
        "https://scholar.google.de/citations?user=xmtDOnQAAAAJ",
        "https://keybase.io/gedankenstuecke",
        "https://www.wikidata.org/wiki/Q30561958"
        ]
    }
    </script>